@charset "UTF-8";

@media screen and (min-width:391px){
    body{
        font-family: "Hiragino Kaku Gothic Pro","Meiryo",sans-serif;
        font-size: 15px;
        border-top: 15px solid #f19db5;
    }

    a{
        text-decoration: none;
        color: black;
    }
    
    .logo{
        text-align: center;
    }
    .logo img{
        display: inline-block;
        width: 7%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .w-inner{
        width: 1200px;
        margin: 0 auto;
    }
    .header ul{
        display: flex;
    }
    .header ul li{
        width: 240px;
        text-align: center;
        list-style: none;
        border-right: 1px solid #ddd;
    }
    .header ul li:first-child{
        border-left: 1px solid #ddd;
    }
    .header ul li a{
        display: inline-block;
    }
    .header-img{
        text-align: center;
        margin-top: 40px;
    }
    .header-img img{
        display: inline-block;
    }
    
    .container-favorite-member h1{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .container-favorite-member .favorite-member-block{
        display: flex;
        justify-content: space-between;
    }
    .container-favorite-member .favorite-member-block img{
        margin-bottom: 20px;
        width: 380px;
        height: 480px;
    }
    .container-favorite-member .favorite-member-block .title{
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    .container-favorite-member .favorite-member-block .explain{
        margin-bottom: 20px;
        text-align: center;
    }
    .container-favorite-member .favorite-member-block a{
        background-color: #f19db5;
        color: white;
        padding: 10px 20px;
    }
    
    .producer{
        text-align: right;
        margin-top: 30px;
    }
    .copy{
        text-align: center;
        margin-top: 20px;
        background-color: #f19db5;
        color: white;
        font-size: 12px;
        padding: 4px 7px;
    }
}

@media screen and (max-width:390px){
    body{
        font-family: "Hiragino Kaku Gothic Pro","Meiryo",sans-serif;
        font-size: 15px;
        border-top: 15px solid #f19db5;
    }

    a{
        text-decoration: none;
        color: black;
    }
    
    .logo{
        text-align: center;
    }
    .logo img{
        display: inline-block;
        width: 15%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .w-inner{
        width: 390px;
        margin: 0 auto;
    }

    .header ul li{
        text-align: center;
        list-style: none;
        font-size: 20px;
        padding: 5px;
        text-decoration: underline;
    }
   
    .header-img{
        text-align: center;
        margin-top: 30px;
    }
    .header-img img{
        display: inline-block;
    }
    
    .container-favorite-member h1{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .name_image{
        text-align: center;
    }
    .name_image img{
        margin-bottom: 15px;
        width: 80%;
        display: inline-block;
    }
    .name_image .title{
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
    }
    .name_image .explain{
        margin-bottom: 20px;
        text-align: center;
    }
    .favorite-member-block p{
        display: block;
        background-color: #f19db5;
        color: white;
        padding: 10px 20px;
        margin-bottom: 25px;
        text-align: right;
        margin-right: 5px;
    }
    
    .producer{
        text-align: right;
        margin-top: 20px;
        padding-right: 5px;
        font-size: 12px;
    }
    .copy{
        text-align: center;
        margin-top: 10px;
        background-color: #f19db5;
        color: white;
        font-size: 12px;
        padding: 4px 7px;
    }
}
